@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
  width: 3.5% !important;
  text-align: center;
  padding: 0 3px;
  left: 0px !important;
  height: 100% !important;
  background: #25ccff;
  top: 0 !important;
  margin-top: 0 !important;
  display: flex;
  align-items: center;
}

.swiper-button-next {
  width: 3.5% !important;
  text-align: center;
  padding: 0 3px;
  right: 0px !important;
  height: 100% !important;
  background: #25ccff;
  top: 0 !important;
  margin-top: 0 !important;
  display: flex;
  align-items: center;
}
.swiper-button-next::after {
  content: "" !important;
  width: 15px !important;
  height: 14px;
  background: url(../public/images/next.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper-button-prev::after {
  content: "" !important;
  width: 15px !important;
  height: 14px;
  background: url(../public/images/prev.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.ant-tabs-nav-wrap {
  height: 0;
}

.swiper-slide {
  width: 72px !important;
}
.swiper-slide:first-child {
  margin-left: 14px;
}

.swiper-slide:last-child {
  margin-right: 14px;
}
/* 
.swiper-wrapper {
  margin: 0 14px;
} */
.bg-active-navbar {
  background: linear-gradient(to bottom, #02a9dd, #0278dc);
}

.ant-tabs-nav {
  margin: 0 !important;
}
